<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <h1>Recipient</h1>
    <div class="messageDetails">
        <h1 id="totalMessage">Total Message: 0</h1>
        <hr>
        <h1 id="messageSent">Message already sent: 0</h1>
        <hr>
    </div>

    <table>
        <thead>
            <tr>
                <td>
                    Recipient Name
                </td>
                <td>
                    Actual percentage
                </td>
                <td>
                    Current percentage
                </td>
                <td>
                    Message received count
                </td>
            </tr>
        </thead>
        <tbody class="tableBody">
        </tbody>
    </table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // setInterval(() => {
            updateInstallmentIndex();
            updateRecipientDetails();
        // }, 3000);
    });

    function updateInstallmentIndex() {
        $.ajax({
            type: 'GET',
            url: '/recipient/message',
            contentType: "application/json",
            success: function (data) {
                if (data) {
                    $('.messageDetails').empty();
                    var message = '';
                    message += ` <h1 id="totalMessage">Total Message: ${data.totalMessageCount}</h1><hr>`;
                    message += ` <h1 id="messageSent">Message already sent: ${data.sendMessageCount}</h1><hr>`;
                    $('.messageDetails').append(message);
                }
            },
            error: function (MLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }

    function updateRecipientDetails() {
        $.ajax({
            type: 'GET',
            url: '/recipient/all',
            contentType: "application/json",
            success: function (data) {
                if (data) {
                    console.log(data);
                    $('.tableBody').empty();
                    var tableBody = '';
                    data.forEach(element => {
                        tableBody += `<tr>
                                        <td>
                                            ${element.recipientName}
                                        </td>
                                        <td>
                                            ${element.actualPercentage} %
                                        </td>
                                        <td>
                                            ${element.currentPercentage} %
                                        </td>
                                        <td>
                                            ${element.receviedMessageCount}
                                        </td>
                                    </tr>`;
                    });
                    $('.tableBody').append(tableBody);
                }
            },
            error: function (MLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }
</script>

</html>
